<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/user/profile">
            <span class="menu-title">Profile</span>
            <i class="mdi mdi-home menu-icon"></i>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/user/library">
            <span class="menu-title">library</span>
            <i class="mdi mdi-home menu-icon"></i>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/user/logout">
            <span class="menu-title">Logout</span>
            <i class="mdi mdi-heart menu-icon"></i>
            </a>
        </li>  
    </ul>
</nav>