<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/profile">
            <span class="menu-title">Profile</span>
            <i class="mdi mdi-home menu-icon"></i>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/explore">
            <span class="menu-title">Explore</span>
            <i class="mdi mdi-home menu-icon"></i>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="javascript:UserLogout()">
            <span class="menu-title">Logout</span>
            <i class="mdi mdi-heart menu-icon"></i>
            </a>
        </li>  
    </ul>
</nav>
<script>

    const UserLogout = () => {
        localStorage.removeItem("token");
        localStorage.removeItem("deezerId");
        localStorage.removeItem("deezerToken");
        location.assign("/");
    }

</script>