<%- include ('layouts/main-header.ejs') %>


<div class="card">
    <div class="card-body">
        <h1 class="text-center">
            <span class="logoIcon">M</span><%= title %></h1>

    </div>
</div>

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Welcome to Matcha</h1>
        <p class="lead text-muted">Your soulmate is here.</p>
        <p>
            <a href="/register" class="btn btn-primary my-2">SIGN UP</a>
            <a href="/login" class="btn btn-secondary my-2">SIGN IN</a>
        </p>
    </div>
</section>

<%- include ('layouts/main-footer.ejs') %>

