<div id="searchDev" class="col-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">

      <div class="form-group">
        <input id="playlistSearch" class="form-control" type="text" placeholder="Search..." /><br>
        <select class="form-control" id="playlistType">
          <option value="track">Track</option>
        </select>
        <br>
        <button onclick="playlistSearch()" class="btn btn-gradient-dark">Search for tracks</button>
        <button id="AddUserBTN" onclick="GetAllUsers()" data-toggle="modal" data-target="#AddUsersModal"
          class="btn btn-gradient-dark">Add users</button>
      </div>

      <style>
        .list-group-item:hover {
          background-color: black;
          color: white;
        }
      </style>

      <!-- Modal -->
      <div class="modal fade" id="AddUsersModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add Users To Playlist</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
        
              <div class="list-group" id="AllUsers">
                <a href="#" class="list-group-item">First item</a>
                <a href="#" class="list-group-item">Second item</a>
                <a href="#" class="list-group-item">Third item</a>
              </div>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <script>
        function GetAllUsers() {
          const token = localStorage.getItem("token");

          fetch(`/api/user/all`, {
              method: 'GET',
              headers: {
                'Authorization': token
              }
            })
            .then(res => {
              if (res.status == 200)
                return res.json();
              else
                alert("An error occured please try again!");
            })
            .then(data => {

              const userDisplay = document.getElementById("AllUsers");
              const CreatorId = localStorage.getItem("_id");
              const PlaylistId = document.getElementById("playlist-id").value;
              userDisplay.innerHTML = "";

              if (data.success){
                
                data.users.map( (user) => {

                  userDisplay.innerHTML += `
                  <div id="${user._id}" class="list-group-item">
                    <h3>${user.firstname} ${user.lastname}</h3>
                    <p>${user.username} - ${user.created_at}</p>
                    <p><strong>Add User to plalist with?</strong><br/>
                    <button onclick="SendUserInfo('${user._id}', '${CreatorId}', '${PlaylistId}', 'R')" class="btn btn-warning">Non Edit Rights</button> or <button onclick="SendUserInfo('${user._id}', '${CreatorId}', '${PlaylistId}', 'RW')" class="btn btn-danger">Edit Rights</button>
                    </p>
                  </div>
                  `;  

                });

                document.getElementById(CreatorId).style.display = "none";

              }else{
                alert("An error occured while get users");
              }

              //console.log(data);

            })
            .catch(error => {
              alert(`An error occured! ${error}`);
            });
            
        }

        function SendUserInfo(userid, creatorId, playlistId, rights){
          //alert(`${userid} - ${creatorId} - ${playlistId} - ${rights}`);
          if (creatorId == userid){
            alert("Creator can not be added to a playlist!");
            return ;
          }

          socket.emit('add user', {
            PId: playlistId,
            newUserId: userid,
            creatorId: creatorId,
            role: rights
          });
        }

        socket.on("add user success", ({message, newUserId}) => {
          alert(message);
          document.getElementById(newUserId).style.display = "none";
        });

        socket.on("add user error", ({message}) => {
          alert(message);
        });
      </script>

      <script>
        const playlistSearch = () => {
          const search = document.getElementById("playlistSearch").value;
          const type = document.getElementById("playlistType").value;
          const token = localStorage.getItem("token");

          if (!search || search.length < 2) {
            alert("Search filed required");
            return;
          }

          fetch(`/api/search?type=${type}&q=${search}`, {
              method: 'GET',
              headers: {
                'Authorization': token
              }
            })
            .then(res => {
              if (res.status == 200)
                return res.json();
              else
                alert("An error occured please try again!");
            })
            .then(data => {
              const tracks = data.results;

              document.getElementById("MusicList").style.display = "inline";
              document.getElementById("searchHeading").innerHTML = `Search results: "${search}"`;
              let tList = document.getElementById('TrackList');
              tList.innerHTML = "";

              //Get PlaylistId, CreatorId, TrackId
              const PlaylistId = document.getElementById("playlist-id").value,
                CreatorId = document.getElementById("creator-id").value;

              //console.log("Searched Tracks:", data)

              tracks.map((track) => {

                tList.innerHTML += `
                  <a id="${track.id}" href="javascript:SendSongInfo('${PlaylistId}', '${CreatorId}', '${track.id}', '${track.title}')" class="list-group-item">
                    <h3>${track.title}</h3>
                    <p>${track.artist.name} - ${track.album.title}</p>
                  </a>
                `;

              });

            })
            .catch(error => {
              alert(`From  nowAn error occured! ${error}`);
            });

        }

      </script>

    </div>
  </div>
</div>

<div class="col-12 grid-margin stretch-card" id="MusicList">
  <div class="card">
    <div class="card-body">

      <h2 id="searchHeading">Search results: "*****"</h2>

      <div class="list-group" id="TrackList">
        <a href="#" class="list-group-item">First item</a>
        <a href="#" class="list-group-item">Second item</a>
        <a href="#" class="list-group-item">Third item</a>
      </div>

    </div>
  </div>
</div>

<script>
  document.getElementById("MusicList").style.display = "none";

  function SendSongInfo(pId, cId, tId, name) {
    const userid = localStorage.getItem("_id");

    //alert(`${pId} - ${cId} - ${tId}`);
    alert(`Adding ${name} to playlist!`);
    socket.emit('add track', {
      PId: pId,
      trackId: tId,
      creatorId: cId,
      userId: userid
    });
    //Socket Implementation
  }

  socket.on('add track error', ({
    message
  }) => {
    alert(message);
  });

  socket.on('add track success', ({
    message,
    trackId
  }) => {
    alert(message);
    document.getElementById(trackId).style.display = "none";

    let source = document.getElementById("deezer-widget-player").getAttribute("data.src");
    document.getElementById("deezer-widget-player").setAttribute("data-src", source);
  });
</script>