<div class="col-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">

      <div class="form-group">
        <input id="playlistSearch" class="form-control" type="text" placeholder="Search..." /><br>
        <select class="form-control" id="playlistType">
          <option value="album">Album</option>
          <option value="artist">Artist</option>
          <option value="track">Track</option>
        </select>
        <button onclick="playlistSearch()" class="btn btn-gradient-dark">Search for playlist</button>
      </div>

      <script>
        const playlistSearch = () => {
          const search = document.getElementById("playlistSearch").value;
          const type = document.getElementById("playlistType").value;
          const token = localStorage.getItem("token");

          fetch(`/api/search?type=${type}&q=${search}`, {
              method: 'GET',
              headers: {
                'Authorization': token
              }
            })
            .then(res => {
              if (res.status == 200)
                return res.json();
              else
                alert("An error occured please try again!");
            })
            .then(data => {
              //Header tag

              console.log("Search response", data);
            })
            .catch(error => {
              alert(`An error occured! ${error}`);
            });

        }
      </script>

    </div>
  </div>
</div>