<%- include ('layouts/main-header.ejs') %>


<div class="card">
    <div class="card-body">
        <h1 class="text-center">
            <span class="logoIcon">M</span><%= title %></h1>

    </div>
</div>

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Welcome to <%= title %></h1>
        <!--<p class="lead text-success">Feel like listening to music? Come listen with us.</p>-->
        <a style="position:fixed;right:0;bottom:0;margin:12px" href="http://localhost:5000/api/docs" target="_blank" class="btn btn-gradient-success btn-rounded btn-fw">Documentation</a>
        <p>
            <a href="/login" class="btn btn-primary my-2">SIGN IN/UP</a>
        </p>
    </div>
</section>

<%- include ('layouts/main-footer.ejs') %>

